root{
    --main-bg-color: #FAF3E6;
}
* {
    font-family: 'AR One Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
section > h1{
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 4rem;
}
html {
    overflow-x: hidden;
    background-color: var(--main-bg-color);
}
header {
    position: sticky;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    border-radius: 2%;  
    padding: 10px 0 0 10px;
    z-index: 999;
    top: 0;
    width: 100vw;
    background-color: black;
    color: white;
}
.black-background{
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    height: 10vh;
    width: 100vw;
    z-index: 2;
}
header > h1 > div > div {
    background: -webkit-linear-gradient(45deg, #ff00cc, #00ffcc);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: opacity 1s;
	position: fixed;
}

header > h1 > div {
    background: -webkit-linear-gradient(45deg, #ffcc00, #cc00ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

header > h1 > div > div:hover {
	opacity: 0;
}
.link-logo {
    width: 2.5rem;
    z-index: 3;

}
nav > ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    list-style: none;
    z-index: 3;

}
nav > ul > li{
    margin: 1rem;
    text-decoration: none;
}
nav > ul > li > a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.homepage-navbar{
    top: 0;
    position: fixed;
    width: 100%;
    background-color: transparent;
    border-radius: 30px;
    >nav > ul > li > a{
        color: white;
    }
    z-index: 4;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about{
    width: 80%;
    display: flex;
    flex-direction: column;
    > .about-container{
        padding: 1rem;
        display: flex;
        > img {
            max-width: 40%;
            height: fit-content;
            border-radius: 30px;
        }
        >.about-text{
            width: 60%;
            padding: 1rem;
            display: flex;
            flex-direction: column;
        }
    }
    > .about-container-left{
        display: flex;
        flex-direction: row-reverse;
        >.about-text{
            align-items: flex-end;
            >p{
                text-align: right;
            }
        }
    }
    > .about-container-right{
        display: flex;
    }
}

.fullscreen-img{
    width: 100vw;
    overflow: hidden;
    overflow-clip-margin:initial;
}

.fixed-icon{
    padding: 0.5rem;
    position: fixed;
    right: 35px;
    bottom: 35px;
}

.homepage-image{
    background-image: url(images/olympic.jpg);

    /* Full height */
    height: 100vh;
    width: 100%;
  
    /* Center and scale the image nicely */ 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
}
.small-image-grid{
    column-count: 3;
    column-width: 300px;
    >img{
        margin: 0 auto 15px;
        max-width: 800px;
        width: 100%;
        margin-top: 12px;
        transition: transform 0.3s;
        &:hover{
            transform: scale(0.8);
        }
    } 
}
.shoots{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0rem;
    >.shoot-container{
        display: flex;
        width: 50%;
        position: relative;
        overflow: hidden;
        >img{
            width: 100%;
            transform: scale(1.2);
            filter: grayscale(0);
            transition: all 0.3s;
        }
        >.text{
            transform: scale(5);
            transition: all 0.3s;
            opacity: 0;
            position: absolute;
            margin-left: auto; 
            margin-right: auto; 
            left: 0; 
            right: 0;
            bottom: 45%;
            font-size: 2rem;
            width: 50vw;
            text-align: center;
            color: white;
            background-color: rgba(0, 0, 0, 0.4);
        }
        &:hover{
            > img{
                filter: grayscale(1);
                transform: scale(1);
            }
            >.text{
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}

/* Media query for tablets and smaller screens */
@media (max-width: 768px) {
    .about > .about-container {
        flex-direction: column;
        > img{
            width: 100%;
            max-width: 100%;
        }
        > .about-text{
            width: 100%;
            align-items: flex-start;
            > p {
                text-align: left;
            }
        }
    }
}
  
/* Media query for mobile screens */
@media (max-width: 480px) {

}

