* {
    font-family: 'AR One Sans', sans-serif;
    margin: 0;
    padding: 0;
}
header {
    margin: 1em;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
h1 {
    background: linear-gradient(45deg, #ff00cc, #00ffcc);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: background 0.5s ease;
}
h1:hover {
    background: linear-gradient(45deg, #ffcc00, #cc00ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.link-logo {
    width: 2.5rem;
}