root{
    --main-bg-color: #FAF3E6;
}
* {
    font-family: 'AR One Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
section > h1{
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 4rem;
}
html {
    overflow-x: hidden;
    background-color: var(--main-bg-color);
}
header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    border-radius: 2%;
    background-color: white;
    margin: 10px 0 10px 0;
}
.black-background{
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    height: 10vh;
    width: 100vw;
    z-index: 2;
}
header > h1 {
    color: white;
    background: linear-gradient(45deg, #ff00cc, #00ffcc);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: background 0.5s ease;

}
header > h1:hover {
    background: linear-gradient(45deg, #ffcc00, #cc00ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.link-logo {
    width: 2.5rem;
    z-index: 3;

}
nav > ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    list-style: none;
    z-index: 3;

}
nav > ul > li{
    margin: 1rem;
    text-decoration: none;
}
nav > ul > li > a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
.homepage-navbar{
    position: fixed;
    width: 100%;
    background-color: transparent;
    border-radius: 30px;
    >nav > ul > li > a{
        color: white;
    }
    z-index: 4;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about{
    width: 80%;
    display: flex;
    flex-direction: column;
    > .about-container{
        padding: 1rem;
        display: flex;
        > img {
            max-width: 40%;
            height: fit-content;
            border-radius: 30px;
        }
        >.about-text{
            width: 60%;
            padding: 1rem;
            display: flex;
            flex-direction: column;
        }
    }
    > .about-container-left{
        display: flex;
        flex-direction: row-reverse;
        >.about-text{
            align-items: flex-end;
            >p{
                text-align: right;
            }
        }
    }
    > .about-container-right{
        display: flex;
    }
}

.fullscreen-img{
    width: 100vw;
    overflow: hidden;
    overflow-clip-margin:initial;
}

.fixed-icon{
    padding: 0.5rem;
    position: fixed;
    right: 35px;
    bottom: 35px;
}

.homepage-image{
    background-image: url(images/olympic.jpg);

    /* Full height */
    height: 100vh;
    width: 100%;
  
    /* Center and scale the image nicely */ 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
}

.small-image-grid{
    >.row{
        >.after {
            content: "";
            display: table;
            clear: both;
        }
        >.column{
            float: left;
            width: 50%;
            padding: 10px;
            > img {
                margin-top: 12px;
                width: 100%;
            }
        }
    }      
}

